#root {
  flex:1;
  display: flex;
  flex-direction: column;
}

.App{
  display: flex;
  flex-direction: column;
  flex:1;
}

.Seccion{
  display: flex;
  flex:1;
  flex-direction: row;
}

.Formulario{
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FormContenedor{
  display: flex;
  flex-direction: column;
  /*height: 80%;*/
  margin:10px;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  align-items: center;
}

.FormContenedor input{
  margin: 10px 0;
}

.Listado{
  display: flex;
  flex: 3;
  flex-direction: row;
  max-height: 50vh;
  overflow-y: scroll;
  flex-wrap: wrap;
  align-items: flex-start;
}

.Tarjeta{
  margin:10px;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Tarjeta .Eliminar {
  padding: 0 6px;
  background-color: red;
  postion: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  curser: pointer;
  color: white;
}

.Header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  background-color: deepskyblue;
  align-items: flex-start;
  justify-content: center;

}

.Header .Boton {
  padding: 10px 20px;
  margin: 0 15px;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgba(0,0,0,0.5);
  font-size: 18px;
  text-decoration: none;
  color: white;
}